#!/usr/bin/make -f
# -*- mode: makefile-gmake; coding: utf-8 -*-

BASH_PATH               ::= $(shell which bash)
DEB_BUILD_MAINT_OPTIONS ::= hardening=+all
DH_VERBOSE              ::= 1
DPKG_EXPORT_BUILDFLAGS  ::= 1
PYBUILD_NAME            ::= gui_o_matic
SHELL                   ::= $(shell realpath -Leq $(BASH_PATH))
UBUNTUVER               ::= $(shell lsb_release -rs | cut -c-5)

ifeq ($(shell dpkg-vendor --query Vendor),Ubuntu)
ifneq ($(UBUNTUVER),$(shell printf "$(UBUNTUVER)\n17.10\n" | sort -g | head -1))
	DEB_BUILD_MAINT_OPTIONS += future=+lfs
	DPKG_EXPORT_BUILDTOOLS = 1
    include /usr/share/dpkg/buildtools.mk
endif
ifneq ($(UBUNTUVER),$(shell printf "$(UBUNTUVER)\n19.04\n" | sort -g | head -1))
	DEB_BUILD_MAINT_OPTIONS += reproducible=+fixfilepath
endif
endif

include /usr/share/dpkg/default.mk
export DEB_BUILD_MAINT_OPTIONS DH_VERBOSE PYBUILD_NAME


%:
	dh $@ -v --with=python3 -Spybuild


override_dh_auto_clean:
	dh_auto_clean -O-v -O-Spybuild -O--with=python3
	find $(CURDIR) -name '*.pyc' -execdir rm -f '{}' \;
